<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>    
    <div id="app">
        <form @submit.prevent="saveStudent">
            <input type="text" placeholder="Name" v-model="name">
            <br>
            <input type="email" placeholder="E-mail" v-model="email">
            <br>
            <button type="submit">Save</button>
        </form>
        <hr>
        <ul>
            <li v-for="stu in students" :key="stu.id">
                ID : {{stu.id}}, Name: {{stu.name}}, Email: {{stu.email}}
                <button @click="deleteStu(stu.id)">Delete</button>
            </li> <!-- v-bind:key , :key-->
        </ul>
    </div>
     <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
     <script>
        const {createApp}=Vue;
        createApp({     
            methods:{
                saveStudent(){
                    const id=this.students.length + 1;
                    const stu={
                        id: id,
                        name: this.name,
                        email: this.email
                    }
                    this.students.push(stu);
                },
                deleteStu(id){
                    //console.log(id);
                    let stus=this.students.filter((f)=> f.id !=id);
                    this.students=stus;
                }
            } ,   
            data(){
                return{
                    name: "",
                    email:"",
                   students: [
                        {id: 1, name: "Mg Mg", email: "mgmg@gmail.com"},
                        {id:2, name:"Tun Tun", email: "tun@gmail.com"}
                   ]
                }
            }
        }).mount("#app");
     </script>
</body>
</html>

